div .App {
  background-image: url(./img/4704fe4f54e6f62e0f6d642371cf2f37.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: #3d2f59;

  font-family: "Caveat", cursive;
  margin: 100px auto;
  padding: 150px;
  text-align: center;
}

h1 {
  margin: 30px;
}

.footer {
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

a {
  color: #c13232;
}
